@import "~bootstrap/scss/bootstrap";


@font-face {
    font-family: Basalte;
    src: url(/public/fonts/degheest-types-master/fonts/webfonts/Basalte-Fond.woff) format("woff");
    src: url(/public/fonts/degheest-types-master/fonts/webfonts/Basalte-Fond.woff2) format("woff2");
}


*{
    box-sizing: border-box;
    font-family: Basalte, Open-sans;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    background-color: #eee;
    line-height: 1.5em;
    /*
    background-color: blanchedalmond;
    */
}

ul{  
    list-style-type: none;
}

p{

}


