.navbar{
  width: 100%;
  background-color: lightgrey;
  border-bottom: 2px solid black;
  margin: 0;
  ul{
    list-style: none;
    display: flex;
    margin-bottom: 0;
    li{
      padding: 10px;
      background-color: floralwhite;
      margin:3px;
      border-radius: 3px;
      &:hover{

      }
      a{
        color :black;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

.navbar+section{
  margin : 50px;
}

main{
  padding: 40px 20px
}