p{

}


.signInPage {
  height : 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.signInSection{
  display :flex;
  justify-content: space-between;
  width: 50%;
  .signInFormSection {
    width: 510px;
    background-color : aliceblue;
    border-radius : 6px;
    box-shadow: 2px 2px 4px lightgray;
  }
  section{
    margin : 5px;
  }
  form{
    padding: 5px;
    border : 1px solid grey;
    border-radius : 6px;
    input, select {
      border-radius: 4px;
      border: 1px solid darkslategrey;
      height : 35px;
      padding-left: 10px;
    }
    div{
      text-align: center;
      margin: 20px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    div:nth-child(-n+6) {
      label{
        display: none;
      }
    }
    div:nth-child(4){

      input{

      }
    }
    input, select{
      width: 85%;
    }
  }
}

#same-email-alert{
  display: none;
}