<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Landing Club Culture</title>
    <script src="script.js"></script>
</head>
<body>
<header>

</header>
<main>
    <section>
        <h2>Culture Club</h2>
        <p>Culture club vous permet d'échanger du contenu cuturel avec des centaines de curieux</p>
    </section>

</main>
<footer>

</footer>
</body>
</html>